* {
    margin: 0;
    padding: 0;

}

body {
    background-image: url(images/aotcampus.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main {
    width: 100vw;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

/* Navigation Bar */

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    background: transparent;
    /* border-bottom: 1px solid rgba(255,255,255,.5); */
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    backdrop-filter: blur(20px);
}

.menu{
    display: flex;
    list-style: none;
    align-items: center;
}

.icon img{
    width: 100px;
    filter: brightness(2);
}
.menu li{
    padding: 15px 16px;
    border-radius: 10px;
}
.menu li a{
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 300ms ease;

}
.main li:hover{
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}

.search{
    display: flex;
    align-items: center;
    /* margin-left: 30px; */
    border: 1px solid white;
    padding: 2px 2px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}
.srch{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding: 6px 6px;

}

.btn{
    outline: none;
    border: none;
    padding: 6px 6px;
    border-radius: 22px;
    cursor: pointer; 
    background: rgb(151,221,222);
    background: linear-gradient(10deg, rgba(151,221,222,1) 8%, rgba(0,212,255,1) 10%, rgba(2,0,36,1) 95%);
    box-shadow: inset 6px 6px 6px hsla(0,0%,100%,.25), inset -8px -8px 8px rgba(0,0,0,.25);  
    color: #fff;
    filter: grayscale(1);
    transition: 300ms ease;
}

.btn:hover{
    filter: grayscale(0);
}

/* Contaent */

.content {
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par {
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1 {
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn {
    width: 160px;
    height: 40px;
    background: #71c9f2;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;

}

.content .cn a {
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover {
    background-color: #fff;
}

.content span {
    color: #71c9f2;
    font-size: 65px
}

::placeholder {
    color: #fff;
    font-family: Arial;
}

.btnn {
    width: 240px;
    height: 40px;
    background: #03045e;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}

.btnn:hover {
    background: #fff;
    color: #03045e;
}

.btnn a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.form .link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a {
    text-decoration: none;
    color: #03045e;
}

.liw {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.icons a {
    text-decoration: none;
    color: #fff;
}

.icons ion-icon {
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}